<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>robq97-001-site1.dtempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://robq97-001-site1.dtempurl.com:8172/MsDeploy.axd?site=robq97-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>robq97-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\robq97-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BostreamEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BostreamWeb.Models.BostreamEntities1, BostreamWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BostreamEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=bostream.cids7uu9zubo.us-east-1.rds.amazonaws.com;Initial Catalog=Bostream;User ID=robq97;Password=bostream2019" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=bostream.cids7uu9zubo.us-east-1.rds.amazonaws.com;Initial Catalog=Bostream;User ID=robq97;Password=bostream2019;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BostreamEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/BostreamModel.csdl|res://*/BostreamModel.ssdl|res://*/BostreamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bostream.cids7uu9zubo.us-east-1.rds.amazonaws.com;initial catalog=Bostream;user id=robq97;password=bostream2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BostreamEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/BostreamModel.csdl|res://*/BostreamModel.ssdl|res://*/BostreamModel.msl;provider=System.Data.SqlClient;provider connection string="data source=bostream.cids7uu9zubo.us-east-1.rds.amazonaws.com;initial catalog=Bostream;user id=robq97;password=bostream2019;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BostreamEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>