@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br>
<br>

<!--HTML Form para datos de "Contáctenos"-->
<!---->
<div class="row">
    <form class="col s12 hoverable grey darken-1">
        <div class="col s12 card-panel center">
            <h6>Para más información:</h6>
        </div>
        <div class="row">
            <div class="input-field.inline input col s3 offset-s1">
                <input id="FirstName" type="text" class="validate white-text" placeholder="">
                <label class="white-text" for="FirstName">Nombre:</label>
            </div>
            <div class="input-field.inline col s3">
                <input id="LastName" type="text" class="validate white-text">
                <label class="white-text" for="LastName">Apellido:</label>
            </div>
            <div class="input-field.inline col s4">
                <input id="Company" type="text" class="validate white-text">
                <label class="white-text" for="Company">Organización/compañía:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field.inline col s4 offset-s1">
                <input id="Email" type="email" class="validate white-text">
                <label class="white-text" for="Email">Correo electrónico:</label>
            </div>
            <div class="input-field.inline col s2">
                <input id="PhoneNum" type="number" class="validate white-text">
                <label class="white-text" for="Notes">Número de teléfono:</label>
            </div>
            <div>
                <p>
                    <label>
                        <input id="SocialNetwork" type="checkbox" class="filled-in" />
                        <span class="white-text ">Manejo de redes sociales</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="ContentCreation" type="checkbox" class="filled-in" />
                        <span class="white-text ">Creación de contenido</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field.inline col s6 offset-s1">
                <textarea id="Notes" type="text" class="materialize-textarea white-text"></textarea>
                <label class="white-text" for="Notes">Comentarios adicionales:</label>
            </div>
            <div>
                <p>
                    <label>
                        <input id="GraphicDesign" type="checkbox" class="filled-in" />
                        <span class="white-text ">Diseño gráfico</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="Other" type="checkbox" class="filled-in" />
                        <span class="white-text ">Otro</span>
                    </label>
                </p>
            </div>
        </div>
    </form>
</div>

<br>
<br>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>