@{
    ViewBag.Title = "Nuestros Servicios";
}
<h3 class="center">@ViewBag.Title.</h3>
<h3>@ViewBag.Message</h3>


<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="~/Public/img/phoneSmall.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Manejo de redes sociales<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">¿En que consiste?<i class="material-icons right">close</i></span>
        <p>
            <ul>
                <li><i class="tiny material-icons">donut_large</i> Análisis y estrategia.</li>
                <li><i class="tiny material-icons">group_add</i> Creacion de comunidad online para traer nuevos seguidores.</li>
                <li><i class="tiny material-icons">people</i> Crear potenciales clientes por medio de contenido.</li>
                <li><i class="tiny material-icons">chat_bubble</i> Facebook e Intagram ADS</li>
                <li><i class="tiny material-icons">person</i> Activacion con Influecers estrategicos</li>
            </ul>
        </p>
    </div>
</div>

<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="~/Public/img/pineappleSmall.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Creación de contenido<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">¿De que nos encargamos?<i class="material-icons right">close</i></span>
        <p><ul>
            <li><i class="tiny material-icons">today</i> Planificación</li>
            <li><i class="tiny material-icons">build</i> Producción</li>
            <li><i class="tiny material-icons">call_split</i> Distribución</li>
            <li><i class="tiny material-icons">donut_large</i> Análisis</li>
        </ul>
        </p>
    </div>
</div>

<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="~/Public/img/graphicSmall.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Diseño Gráfico<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">¿En que nos especializamos?<i class="material-icons right">close</i></span>
        <p><ul>
               <li><i class="tiny material-icons">supervisor_account</i> Diseño gráfico para redes sociales</li>
               <li><i class="tiny material-icons">create</i> Diseño gráfico editorial</li>
               <li><i class="tiny material-icons">dashboard</i> Diseño gráfico publicitario</li>
               <li><i class="tiny material-icons">web</i> Diseño gráfico para webs y apps</li>
        </ul></p>
    </div>
</div>