@{
    ViewBag.Title = "Nuestros Servicios";
}
<h3 class="center">@ViewBag.Title.</h3>
<h3>@ViewBag.Message</h3>

<div class="container body-content">
    <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/Public/img/phoneSmall.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Manejo de redes sociales<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 center">¿En que consiste?<i class="material-icons right">close</i></span>
            <p>
                <ul>
                    <li><h6><i class="tiny material-icons">donut_large</i>Análisis y estrategia.</h6></li>
                    <li><h6><i class="tiny material-icons">group_add</i> Creacion de comunidad online para traer nuevos seguidores.</h6></li>
                    <li><h6><i class="tiny material-icons">people</i> Crear potenciales clientes por medio de contenido.</h6></li>
                    <li><h6><i class="tiny material-icons">chat_bubble</i> Facebook e Intagram ADS</h6></li>
                    <li><h6><i class="tiny material-icons">person</i> Activacion con Influecers estrategicos</h6></li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/Public/img/pineappleSmall.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Creación de contenido<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 center">¿De que nos encargamos?<i class="material-icons right">close</i></span>
            <p>
                <ul>
                    <li><h6><i class="tiny material-icons">today</i> Planificación</h6></li>
                    <li><h6><i class="tiny material-icons">build</i> Producción</h6></li>
                    <li><h6><i class="tiny material-icons">call_split</i> Distribución</h6></li>
                    <li><h6><i class="tiny material-icons">donut_large</i> Análisis</h6></li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/Public/img/graphicSmall.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Diseño Gráfico<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 center">¿En que nos especializamos?<i class="material-icons right">close</i></span>
            <p>
                <ul>
                    <li><h6><i class="tiny material-icons">supervisor_account</i> Diseño gráfico para redes sociales</h6></li>
                    <li><h6><i class="tiny material-icons">create</i> Diseño gráfico editorial</h6></li>
                    <li><h6><i class="tiny material-icons">dashboard</i> Diseño gráfico publicitario</h6></li>
                    <li><h6><i class="tiny material-icons">web</i> Diseño gráfico para webs y apps</h6></li>
                </ul>
            </p>
        </div>
    </div>
</div>
