@{
    ViewBag.Title = "Galeria";
}
<h3 class="center">@ViewBag.Title.</h3>

    <div class="row center" style="padding-left: 14%;">
        <div class="col s12 m5">
            <div class="small card">
                <div class="card-image">
                    <img src="~/Public/img/ej1.png">
                </div>
                <div class="card-content">
                    <p>
                        <h5>Movimiento orgánico (sin ads)</h5>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="small card">
                <div class="card-image">
                    <img src="~/Public/img/ej2.png">
                </div>
                <div class="card-content">
                    <p>
                        <h5>Segmentación de ads.</h5>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="small card">
                <div class="card-image">
                    <img src="~/Public/img/ej3.png">
                </div>
                <div class="card-content">
                    <p>
                        <h5>Segmentación de ads.</h5>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="small card">
                <div class="card-image">
                    <img src="~/Public/img/ej4.png">
                </div>
                <div class="card-content">
                    <p>
                        <h5>Alcance</h5>
                    </p>
                </div>
            </div>
        </div>
    </div>
