@{
    ViewBag.Title = "Tareas";
}

<!--HTML Form para datos para crear una nueva tarea-->
<!---->
@if (Session["username"] != null)
{
    <div class="container body-content">
        <div class="row">
            @using (Html.BeginForm("AddNewTask", "Task", FormMethod.Post, new { @class = "col s12 hoverable grey darken-1 z-depth-3", @style = "margin-top: 10%;" }))
            {
                <div class="col s12 card-panel center">
                    <h6 style="margin-bottom: 2%;">Crear nueva tarea:</h6>
                </div>
                <div class="row">
                    <div class="input-field input col s6 offset-s1">
                        <input id="Title" name="TaskTitle" type="text" maxlength="300" class="center white-text text-accent-1 validate .left-alert" required="">
                        <label class="white-text" for="Title">Título de la tarea:</label>
                    </div>
                    <div class="input-field input col s3 offset-s1">
                        <input id="ClientId" name="CustomerID" type="number" class="center white-text text-accent-1 validate .left-alert" required="">
                        <label class="white-text" for="ClientId">ID de cliente:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4 offset-s1">
                        <textarea id="Description" name="Description" type="text" class="materialize-textarea white-text" required=""></textarea>
                        <label class="white-text" for="Description">Descripción de tarea:</label>
                    </div>
                    <div class="input-field input col s3">
                        <input id="Priority" name="Priority" type="number" min="1" max="3" class="center white-text text-accent-1 validate .left-alert" required="">
                        <label class="white-text" for="Priority">Prioridad de tarea:</label>
                    </div>
                    <div class="row">
                        <div class="input-field input col s3">
                            <input id="Deadline" name="Deadline" type="text" class="datepicker validate white-text" required="">
                            <label class="white-text" for="Deadline">Fecha límite de tarea:</label>
                        </div>
                    </div>
                    <div class="center" style="margin-bottom: 5%">
                        <button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">
                            Enviar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if (Session["username"] == null)
{
    Response.Redirect("~/Admin/Denied");
}
