<footer class=" page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s15">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">
                    <cite> “THE BEST MARKETING DOESN’T FEEL LIKE MARKETING.”</cite> - TOM FISHBURNE
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com/bostream_smm/">
                            <img style="margin-right: 6px;" src="~/img/instagramSmall.png" alt="Instagram Logo" />Instagram
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/Bostreamsmm/">
                            <img style="margin-right: 6px;" src="~/img/facebookSmall.png" alt="Facebook Logo" /><img src="#" alt="Alternate Text" />Facebook
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="/Information/InformationForm">
                            <img style="margin-right: 6px;" src="~/img/emailSmall.png" alt="Alternate Text" />Email
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; @DateTime.Now.Year - Análisis, implementación, y diseño de sistemas
            <a class="grey-text text-lighten-4 right" href="#!">Acceso Admin</a>
        </div>
    </div>
</footer>
