@{
    ViewBag.Title = "Nueva Cotización";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>

<body>

<br>
<br>

<!--HTML Form para datos para crear una nueva cotización-->
<!---->
<div class="row">
    <form class="col s12 hoverable grey darken-1 z-depth-3">

        <div class="col s12 card-panel center">
            <h6 style="margin-bottom: 2%;">Crear nueva cotización:</h6>
        </div>

        <div class="row">

            <div class="input-field input col s2 offset-s1">
                <input id="QuotationId" type="number" class="white-text" step=".01">
                <label class="white-text" for="Title">ID de la cotización:</label>
            </div>

            <div class="input-field input col s2">
                <input id="CustomerId" type="number" class="validate white-text">
                <label class="white-text" for="CustomerId">ID de cliente:</label>
            </div>

            <div class="input-field col s3">
                <div class="container">
                    <p>
                        <label>
                            <input id="SocialNetwork" type="checkbox" class="filled-in" />
                            <span class="white-text ">Manejo de redes sociales</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="ContentCreation" type="checkbox" class="filled-in" />
                            <span class="white-text ">Creación de contenido</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="input-field col s2">
                <p>
                    <label>
                        <input id="GraphicDesign" type="checkbox" class="filled-in" />
                        <span class="white-text ">Diseño gráfico</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="Other" type="checkbox" class="filled-in" />
                        <span class="white-text ">Otro</span>
                    </label>
                </p>
            </div>

        </div>

        <div class="center" style="margin-bottom: 5%">
            <button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>

    </form>
</div>
</body>

</html>
