@{
    ViewBag.Title = "Home Page";
}

<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/background1small.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header center">Somos una empresa dedicada al manejo de redes sociales empresariales.</h2>
        <h2 class="center light-blue-text"><i class="large material-icons">computer</i></h2>
        <h5 class="center">Manejo de redes sociales</h5>
        <p class="light">
            La idea de nuestra compañía es ayudarle al cliente a buscar la mejor red social para que de esta manera 
            su negocio tengo el mayor reconocimiento posible.
        </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/background2small.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="center light-blue-text"><i class="large material-icons">create</i></h2>
        <h5 class="center">Creación de contenido</h5>
        <p class="light">Ayudamos al cliente a buscar el mejor tipo de información para subir en las redes sociales
        para atraer más clientes a su compañía.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/background3small.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="center light-blue-text"><i class="large material-icons">color_lens</i></h2>
        <h5 class="center">Diseño Grafico</h5>
        <p class="light"> Diseñamos cualquier tipo de comunicación visual que el cliente desee 
        para transmitir mensajes específicos.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/background4small.jpg"></div>
</div>