@{
    ViewBag.Title = "Home Page";
}

<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/background1small.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header center">Somos una empresa dedicada al manejo de redes sociales empresariales.</h2>
        <h2 class="center light-blue-text"><i class="large material-icons">computer</i></h2>
        <h5 class="center">Manejo de redes sociales</h5>
        <p class="light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/background2small.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="center light-blue-text"><i class="large material-icons">create</i></h2>
        <h5 class="center">Creación de contenido</h5>
        <p class="light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/background3small.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="center light-blue-text"><i class="large material-icons">color_lens</i></h2>
        <h5 class="center">Diseño Grafico</h5>
        <p class="light"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Public/img/background4small.jpg"></div>
</div>