@{
    ViewBag.Title = "Home Page";
}
    <div class="section ">
        <div class="row">
            <div class="col s12 center">
                <img src="~/Public/img/logoSmall.png" alt="Bostream Logo" />
                <div class="icon-block center">
                    <span class="flow-text"><b>Somos una empresa dedicada al manejo de redes sociales empresariales.</b></span>
                </div>
            </div>
                <div class="col s12 m5 right grey lighten-3 z-depth-2 " style="margin-top: 2%; margin-right: 2%; margin-left: 2%;">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="large material-icons">computer</i></h2>
                        <h5 class="center">Manejo de redes sociales</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>

                <div class="col s12 m5 left grey lighten-3 z-depth-2 " style="margin-top: 2%; margin-right: 2%; margin-left: 2%;">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="large material-icons">create</i></h2>
                        <h5 class="center">Creación de contenido</h5>

                        <p class="light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    </div>
                </div>
                    <div class="col s12 m11 center grey lighten-3 z-depth-2 " style="margin-top: 2%;">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="large material-icons">color_lens</i></h2>
                            <h5 class="center">Diseño Grafico</h5>

                            <p class="light"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        </div>
                </div>
            </div>
        </div>
    <br><br>
