@{
    ViewBag.Title = "Access Denied";
}

<div class="container">
    <div class=" row">
        <div class="col s12 center" style="margin-top: 10%; margin-bottom: 10%">
            <div class="card white">
                <div class="card-content red-text">
                    <i class="medium material-icons">error_outline</i>
                    <span class="card-title"><h3>Acceso Denegado</h3></span>
                    <p>Es necesario tener derechos de administrador para ingresar.</p>
                </div>
            </div>    
        </div>
    </div>
</div>
