@model BostreamWeb.Models.Admin
@{
    ViewBag.Title = "";
}
<h5>@ViewBag.Title</h5>

        @using (Html.BeginForm("Authentication", "Admin", FormMethod.Post, new { @class = "container lighten-5 col m6 z-depth-3 center", @style = "margin-top: 10%; margin-bottom: 10%; border-left: 20%; border-right: 20%;" } ))
        {
        <div class="teal">
            <form class="col s4">
                <div class="container center">
                    <br>
                    <div class="white-text input-field col s7">
                        <input id="Username" name="username" type="text" class="center teal-text text-accent-1 validate .left-alert" required="">
                        <label class="white-text" for="Username">ID</label>
                    </div>
                </div>
                <div class="container center">
                    <div class="input-field col s7">
                        <input id="Password" name="password" type="password" class="center teal-text text-accent-1 validate .left-alert" required="">
                        <label class="white-text" for="Password">Password</label>
                    </div>
                </div>
                <div class="center" style="margin-bottom: 5%">
                    <button class="btn waves-effect waves-light orange darken-4" style="margin-bottom: 5%" type="submit" name="action">
                        Ingresar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
        }   

